/* 
		custom.css
		
		That's it for the "reset".  From here on is my own code:
		"GENERAL" stuff is used for all of my sites, and
		"CUSTOM" stuff is for a specific instances...
*/


		
		
/* 	=========================================
		GENERAL COMMON SELECTORS
		========================================= */

		/* add Canadian flag to header */
		body header h3 {
			background-image: url('../images/canadian_flag.png');
			background-repeat: no-repeat;
			background-position: 0 0px;
			height: 30px;
			padding-left: 56px;
		}
		
		h2.unaffected { text-shadow: none; }		

		button#btn_1more { float: left; margin: 0 20px 0 61px; }
		
		div#place_arrow1 { display: inline-block; padding-top: 8px; }

		div#DEVELOPER div.separator { margin: 85px 0 55px 0; }
			
		 
		div#refresher { 
			display: inline-block; 
			color: #999; position: absolute;
			right: 5px; top: 0;
			line-height: 2; font-size: 12px;
			text-align: center;
			font-weight: bold;
		}
		
						div#refresher a { 
							color: #276895; 
							text-decoration: none;
						}

/* 	=========================================
		MOBILE AND NARROW DEVICES
		========================================= */

@media all and (max-width: 1200px) { 

		header h3 { font-size: 25px; }

}



